.progressBars {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 500px;
	margin: 0 auto;

	@media screen and (max-width: 640px) {
		padding: 0 10px;
	}

	&__wrapper {
		width: 100%;
		max-width: 500px;
		margin-bottom: 10px;
		position: relative;
	}
}

progress {
	display: block;
	width: 100%;
	padding: 4px;
	border: 0 none;
	height: 45px;
	position: relative;
	background: var(--dark-grey);

	+ .bar-value {
		display: block;
		color: var(--white);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	// moz
	&::-moz-progress-bar {
		background: var(--blue);
	}

	// webkit
	&::-webkit-progress-bar {
		background: transparent;
	}

	&::-webkit-progress-value {  
		background: var(--blue);
	}

	&.limit-break {
		&::-moz-progress-bar {
			background: var(--red);
		}

		&::-webkit-progress-value {  
			background: var(--red);
		}  
	}
}